@import url("https://fonts.googleapis.com/css2?family=Abel&family=Fira+Code:wght@300;400&family=Inter:wght@300&display=swap");
@font-face {
  font-family: 'Blacki';
  src: url('../font/BlackishDemoRegular.ttf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root {
  --color-secundary: #fabd21;
  --color-primary: hsl(0, 0%, 9%);
  --text-color: #ffff;
  --text-color-light: rgb(216, 216, 216);
  --back-yellow-light: rgba(250, 188, 33, 0.562);
  --back-white-light: rgba(255, 255, 255, 0.726);
  --cor-base: rgba(153, 153, 153, 0.047);
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
}
::selection {
  background: rgba(250, 188, 33, 0.178);
}
p {
  color: var(--text-color-light);
  line-height: 1.5;
}
body {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  font-family: "Inter", "Abel", sans-serif;
  font-size: var(--text-letter-font);
  background: var(--color-primary);
  overflow-x: hidden;
}
/* Barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fabc2111;
}

::-webkit-scrollbar-thumb {
  background-color: #fabd21;
  border-radius: 8px;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  color: var(--text-color);
  text-decoration: none;
}
header {
  text-align: center;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 10px 0;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}
.logo {
  height: 60px;
}
.nav-list {
  position: relative;
  top: 6px;
  padding: 0 20px;
}
.nav-list,
.nav-ol-list {
  display: flex;
}
.nav-ol-list a:hover {
  color: var(--color-secundary);
  transition: 0.5s;
}
.nav-ol-list li {
  margin-left: 40px;
}
/* animate icon */
.nav-list-social i{
  padding: 5px 3px;
}
.nav-list-social {
  text-align: center;
  margin-left: 25px;
  height: 1.5rem;
  overflow: hidden;
}
.nav-list-social li {
  position: relative;
  transition: transform 0.5s;
}
.nav-list-social li span {
  position: absolute;
  color: var(--color-secundary);
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
}
.nav-list-social li:hover {
  color: var(--color-secundary);
  transform: translateY(-100%);
}
ol {
  color: var(--color-secundary);
  list-style-type: decimal-leading-zero;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul > li {
  margin-right: 20px;
}
/* menu mobile */
.btn-mobile {
  display: none;
}
/* menu mobile*/
.big-heading {
  font-size: 40px;
  font-family: "Fira Code", monospace;
}
.sub-heading{
  font-size: 25px;
}
.text-chegando {
	-webkit-animation: text-chegando 1s;
	        animation: text-chegando 1s;
}
@-webkit-keyframes text-chegando {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes text-chegando {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
/* sections */
#works,
#service-area,
#about,
#contact-area,
#sota-area {
  margin: 60px 0;
  padding: 96px 30px;
}
/* about-area*/
.containerMax {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
#works .containerMax,
#sota-area .containerMax{
  height: 45vh;
}
#sota-area .main-title{
  margin-top: 6%;
}
#main .containerMax{
  background: url("../img/nicode.png") no-repeat bottom;
  background-size: 500px;
  background-attachment: fixed;
}
#main .containerMax .box-coluna{
  width: 550px;
  height: 400px;
  padding-top: 10%;
}
#main .containerMax .box-coluna p{
  font-size: 16px;
  font-weight: 500;
  width: 380px;
}
#main .containerMax .box-coluna .main-title{
  text-align: end;
}
#main .containerMax .box-coluna p:nth-child(2){
  float: right;
  text-align: start;
}
#main .containerMax .box-coluna:nth-child(2){
  display: none;
}
#main .containerMax .box-coluna img{
  display: none;
}
#about .content-about{
  order: 2;
}
#about .profile-foto{
  order: 1;
}
.img-user {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imagMobile{
  display: none;
}
#main .profile-foto .img-user{
  animation: up-down 2s ease-in-out infinite alternate-reverse both; /* efeito cima baixo */
}
@keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
/* Animação meu nome */
.text-blur-out {
  color: var(--color-secundary);
  user-select: none;
}
.text-blur-out {
  -webkit-animation: text-blur-out 5.9s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    infinite both;
  animation: text-blur-out 5.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
    both;
}
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
.btn-animado {
  position: relative;
  display: inline-block;
  border: 2px solid var(--color-secundary);
  color: var(--text-color);
  top: 0;
  left: 0;
  padding: 5px 15px;
  letter-spacing: 2px;
}
.btn-animado:before {
  content: "";
  position: absolute;
  top: 4px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% - 7px);
  background: var(--color-primary);
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
  transition-delay: 0.5s;
}
.btn-animado:hover::before {
  transform: scaleY(0);
}
.btn-animado::after {
  content: "";
  position: absolute;
  left: 4px;
  top: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 7px);
  background: var(--color-primary);
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
}
.btn-animado:hover::after {
  transform: scaleX(0);
  background: var(--back-yellow-light);
}
.btn-animado a {
  position: relative;
  z-index: 2;
}
.arquivo {
  text-align: center;
  margin: 45px;
}
.main-title {
  color: var(--text-color);
  font-size: 1.8rem;
  width: 100%;
  margin-bottom: 25px;
}
.main-title span,
.big-heading span,
.sub-heading span {
  color: var(--color-secundary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
/* Conhecimentos */
.skills-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 90%;
  width: 730px;
  height: 380px;
  margin: 20px auto;
}
.box-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 300px;
  margin: 0px 15px;
  border-left: 3px solid #fabc2111;
}
.tagCloud{
  display: inline-block;
  top: 100px;
  left: 32%;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.tagCloud--item:hover{
  color: var(--back-yellow-light);
}
#skills-area{
  height: 65vh;
  background: rgba(0, 0, 0, 0.473);
}
#skills-area .main-title{
  text-align: center;
  padding-top: 55px;
}
.wrapper {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin: auto;
  padding: 10px 30px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper span{
  color: var(--color-secundary);
  filter: drop-shadow(0 0 7px var(--color-secundary));
}
.btn-skills {
  color: var(--text-color);
  font-size: 0.5em;
  width: 130px;
  height: 45px;
  padding: 5px;
  margin-left: -2px;
  border: none;
  background: transparent;
}
.btn-skills:hover {
  transition: 0.3s ease;
  background: #fabc2111;
}
.btn-skills:nth-child(1).active {
  border-left: 2px solid #fabd21;
}
.inform-skills {
  width: 300px;
  height: 300px;
}
.inform-skill span {
  color: #fabd21;
}
.inform-skill .text-informa {
  font-size: 0.5em;
}
/* projetos */
#skills-area .main-title{
  padding: 5% 0;
}
.project-body,
.box-service {
  text-align: start;
  font-size: 18px;
  letter-spacing: -1px;
  max-width: 338px;
  min-height: 250px;
  height: 270px;
  margin: 10px;
  padding: 0 20px;
  border-radius: 5px;
  flex-basis: calc(33% -20px);
  background: var(--cor-base);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-service,
.project-body{
  transition: all 0.3s ease;
}
.head-box{
  padding: 0 20px;
  width: 100%;
  position: relative;
  user-select: none;
}
.head-box .title-project{
  float: right;
  line-height: 85px;
}
.project-body .head-box{
  text-align: center;
}
.box-service:hover{
  transform: scale(1.05);
}
.box-service ion-icon {
  color: #fabd21;
  font-size: 2.5em;
  text-align: start;
  margin-bottom: 40px;
}
.box-service p {
  padding-top: 2px;
  margin: 0;
}
.title-project {
  text-align: start;
  font-size: 20px;
  margin-bottom: 20px;
}
.btn-links-project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
/*contato */
#contact-area {
  width: 70%;
  height: 260px;
  text-align: center;
  margin: 45px auto;
  position: relative;
}
#contact-area > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#contact-area {
  width: 100%;
  height: 70vh;
  padding-bottom: 60px;
}
#contact-area p {
  max-width: 80%;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* email area */

.myemail {
  width: 20px;
  height: 300px;
  font-family: "Fira Code", monospace;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.1em;
  position: fixed;
  right: 35px;
  bottom: 45px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.myemail a:hover {
  color: #fabc21b6;
  transition: 0.6s;
}
/* rodapé */
footer {
  margin-top: 15px;
  padding: 40px 30px;
}
footer p {
  text-align: center;
  font-family: "Fira Code", monospace;
  font-size: 14px;
}
footer .nav-list-social {
  display: none;
}
footer .rodape-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* SOTA - Armazem */
#sota-area {
  padding: 0 20px;
}
#sota-area table {
  text-align: start;
  width: 100% !important;
  margin-bottom: 1rem;
}
#sota-area table {
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  text-indent: initial;
}
th,
td {
  width: auto;
  margin: 0;
  padding: 12px;
}
thead tr:hover {
  background: none;
}
tbody .first-box {
  border-radius: 5px 0 0 5px;
}
tbody .last-box {
  border-radius: 0 5px 5px 0;
}
tbody tr:hover {
  background: #fabc2117;
  transition: 0.3s;
}
table tr th {
  color: var(--text-color-light);
  font-weight: 300;
}
table tr td:first-child {
  color: #fabd21;
}
table tr td:nth-child(5) {
  font-size: 20px;
  margin: 5px;
}
tbody td ion-icon:first-child {
  margin-right: 5px;
}
tbody td ion-icon:hover {
  color: #fabd21;
  transition: 0.6s;
}
@media (max-width: 992px) {
  main {
    width: 100%;
    overflow-x: hidden;
  }
  header {
    overflow: visible;
  }
  #menu-toggle {
    position: fixed;
    inset: 0 0 0 30%;
    height: 100vh;
    background: var(--color-primary);
    backdrop-filter: 25px;
    -webkit-backdrop-filter: blur(25px);
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
    z-index: 13;
    overflow-x: none;
  }
  #menu-toggle[data-visible="true"] {
    transform: translateX(0%);
  }
  #menu-toggle .nav-list {
    padding: 50% 0;
  }
  .nav-list,
  .nav-ol-list {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .nav-ol-list li {
    margin: 15px 0;
  }
  .btn-mobile {
    display: block;
    position: absolute;
    right: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    z-index: 14;
  }
  .line {
    display: block;
    border-top: 3px solid var(--back-yellow-light);
    width: 40px;
    height: 40px;
    z-index: 15;
    transition: 0.5s;
  }
  .line::after {
    width: 20px;
  }
  .line::before {
    width: 40px;
  }
  .line::after,
  .line::before {
    content: "";
    display: block;
    border-top: 3px solid var(--back-yellow-light);
    height: 2px;
    margin-top: 9px;
    transition: 0.5s;
    position: relative;
  }
  .btn-mobile[aria-expanded="true"] > .line {
    border-top-color: transparent;
    transform: translateX(15px);
  }
  .btn-mobile[aria-expanded="true"] > .line::before {
    transform: translateY(12px) rotate(495deg);
  }
  .btn-mobile[aria-expanded="true"] > .line::after {
    width: 40px;
    transform: rotate(-495deg);
  }
  #main .containerMax{
    background:none;
  }
  #main .containerMax{
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-areas: 
      "box1 box1 box1"
      "box3 box3 box2"
    ;
  }
  #main .containerMax .box-coluna,
  #service-area .containerMax .project-body{
    max-width: 320px;
    min-width: 220px;
    height: 400px;
    padding-top: 10%;
  }
  #main .box-coluna:nth-child(1){
    grid-area: box1;
  }
  #main .containerMax .box-coluna .main-title {
    text-align: start;
  }
  #main .containerMax .box-coluna p:nth-child(2) {
    width: auto;
    float: left;
    text-align: start;
  }
  #main .box-coluna .big-heading{
    font-size: 60px;
  }
  #main .box-coluna .sub-heading{
    font-size: 40px;
  }
  #main .box-coluna:nth-child(2){
    grid-area: box2;
  }
  #main .box-coluna:nth-child(3){
    grid-area: box3;
  }
  #main .containerMax .box-coluna:nth-child(2){
  display: none;
}
  #main .containerMax .box-coluna img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  #works .main-title{
    padding-top: 10%;
  }
  .containerMax
  {
    flex-wrap: wrap;
  }
  #skills-area{
    padding-top: 30px;
    position: relative;
    height: 40vh;
  }
  .wrapper{
    font-size: 40px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .box-skills {
    padding: 0 25px;
    border-left: none;
  }
  .box-skills .btn-skills {
    width: 100px;
  }
  .btn-skills:nth-child(1).active {
    border-left: none;
  }
  .btn-skills:nth-child(1).active {
    border-bottom: 2px solid rgba(250, 188, 33, 0.562);
  }
  .skills-content {
    display: flex;
    flex-direction: column;
  }
  .skills-content .box-skills {
    display: flex;
    flex-direction: row;
  }
  .project-body {
    display: flex;
    flex-direction: column;
  }
  .btn-links-project{
    margin: 55px 0;
  }
  #sota-area .main-title{
    margin-top: 25%;
  }
  footer .rodape-layout {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 568px) {
  body{
    font-size: 1em;
  }
  p{
    font-size: var(--fz-md);
  }
  main {
    width: 100%;
    padding: 0;
    overflow-x: hidden;
  }
  header {
    overflow: visible;
  }
  .big-heading {
    font-size: 20px;
  }
  .main-title{
    text-align: center;
  }
  #main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40%;
    height: auto;
  }
  #main .containerMax{
    max-width: 1200px;
    margin: 45px auto;
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-areas: 
      "box1 box1 box1"
      "box3 box3 box3"
    ;
  }
  #main .box-coluna:nth-child(2){
    display: none;
  }
  #main .box-coluna .big-heading{
    font-size: 40px;
  }
  #main .box-coluna .sub-heading{
    font-size: 25px;
  }
  #main .box-coluna p br{
    display: none;
  }
  .imagMobile{
    position: relative;
    margin-top: 60px;
    display: block;
    width: 100%;
    height: 358px;
    background-color: #999;
    transition: 0.8s;
  }
  .imagMobile img{
    width: inherit;
    height: inherit;
  }
  .imagMobile::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #fabc21, #fabc21a1);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.8s ease-in-out;
  }
  .boxImag:hover .imagMobile::before{
    opacity: 1;
  }
  #works,
  #service-area,
  #about,
  #main,
  #contact-area,
  #sota-area{
    padding: 0 10px;
  }
  #contact-area{
    height: auto;
  }
  #main .containerMax .box-coluna p{
    width: auto;
  }
  #main .containerMax .box-coluna .main-title{
    text-align: center;
  }
  #main .containerMax .box-coluna p:nth-child(2){
    float: none;
    text-align: start;
  }
  .main-coluna, 
  .skills-content,
  #main .max-width {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .skills-content .box-skills {
    display: flex;
    flex-direction: row;
  }
  .title-project{
    text-align: end;
  }
  .img-user{
    width: 275px;
    height: 275px;
    display: none;
  }
  /* slider service */
  nav label {
    margin-left: 90px;
  }
  .myemail {
    display: none;
  }
  /* tabela estilos*/
  #sota-area table {
    text-align: center;
  }
  thead tr th:nth-child(n + 3):nth-child(-n + 4),
  tbody tr td:nth-child(n + 3):nth-child(-n + 4) {
    display: none;
  }
  footer{
    margin-top: 0;
  }
  footer .rodape-layout {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  footer .nav-list-social {
    display: flex;
  }
  footer .nav-list-social li {
    font-size: 20px;
    margin-right: 35px;
  }
}
